.background{
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 820px;
  background: $background;
  
  &__ellipse-left{
    position: absolute;
    top: -70px;
    left: -96px;
    background: $ellipse;
    width: 400px;
    height: 400px;
    opacity: 0.5;
    filter: blur(103.131px);
    transform: rotate(9.41deg);
  }
  &__ellipse-right{
    position: absolute;
    top: -316px;
    right: -400px;
    background: $ellipse;
    width: 790px;
    height: 790px;
    opacity: 0.8;
    filter: blur(103.131px);
  }
  &__group{
    position: absolute;
    right: 0;
    top: 197px;
    width: 260px;
    &-item{
      display: block;
    }
    &-item1{
      background-image: url(../img/HTML5.png);
      background-size: contain;
      width: 105px;
      height: 105px;
      position: absolute;
      right: 36px;
      top: 44px;
      &::after{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 19px;
        left: 105px;
        border-radius: 50%;
        background-color: #F16529;
      }
      
    }
    &-item2{
      background-image: url(../img/CSS3.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 88px;
      height: 103px;
      position: absolute;
      right: 134px;
      top: 144px;
      &::after{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 0;
        left: 71px;
        border-radius: 50%;
        background-color: #2965F1;
      }
    }
    &-item3{
      background-image: url(../img/javascript.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 80px;
      height: 87px;
      position: absolute;
      right: 36px;
      top: 207px;
      &::after{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 19px;
        left: 86px;
        border-radius: 50%;
        background-color: #F0BE25;
      }
    }
    &-item4{
      background-image: url(../img/sublime-text.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 66px;
      height: 66px;
      position: absolute;
      right: 150px;
      top: 287px;
      &::after{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: -7px;
        left: 55px;
        border-radius: 50%;
        background-color: #FF9800;
      }
    }
    &-item5{
      background-image: url(../img/Visual_Studio_Code.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 79px;
      height: 79px;
      position: absolute;
      right: 66px;
      top: 350px;
      &::after{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 60px;
        left: 83px;
        border-radius: 50%;
        background-color: #48AEF3;;
      }
    }
  }
  &__text{
    position: absolute;
    left: 0;
    bottom: -50px;
    display: flex; 
    justify-content: space-between;
    width: 100%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 8.6vw;
    line-height: 158px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.6px rgba(255, 255, 255, 0.05);
    & span{
      width: 100%;
    }
  }
}

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-areas:
    "header form"
    "text form"
    "about-autor form"
    "gift form";
  max-width: 956px;
  margin-top: 92px;
  margin-left: 56px;
  &__form{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $backgrounForm;
    border-radius: 10px;
    min-height: 100%;
    max-width: 366px;
    min-width: 328px;
  }
  &__form-wrap{
    margin: 50px 58px;
  }
  &__form-header{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 20px;
    & >span{
      color: $secondary2;
    }
  }
  &__form-footer{
    font-size: 12px;
    line-height: 149%;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    & >a{
      text-decoration: underline;
    }
  }
}
.description__header {
  grid-area: header;
}

.description__text {
  grid-area: text;
}

.description__about-autor {
  grid-area: about-autor;
}

.description__gift {
  grid-area: gift;
}

.main__form {
  grid-area: form;
  margin-left: auto;
}

.description{
  &__name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width:fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: $secondary1;
    border-radius: 5px;
    padding: 4px 14px;
    &::before{
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      background-image: url(../img/planet.svg);
      background-size: contain;
    }
  }
  &__header{
    margin-bottom: 20px;
  }
  &__title{
    font-weight: 800;
    font-size: 5.35vw;
    line-height: 94px;
    text-transform: uppercase;
    color: $secondary2;
  }
  &__subtitle{
    font-weight: 600;
    font-size: 21.9494px;
    line-height: 26px;
    color: $maincolor;
    &-wrap{
      display: inline-block;
      background: $secondary2;
      padding: 8px 13px;
      margin-right: 16px;
      border-radius: 5px;
      transform: rotate(-3.51deg);
      & > span{
        font-weight: 800;
        font-size: 23.6391px;
        line-height: 29px;
        text-transform: uppercase;
        display: inline-block;
        transform: rotate(3.51deg);
      }
    }
  }
  &__text{
    max-width: 420px;
    font-weight: 400;
    font-size: 18px;
    line-height: 148%;
    margin-bottom: 52px;
    & span{
      font-weight: 700;
    }
    &-accent{
      padding: 1px 7px;
      background: $secondary1;
      border-radius: 3px;
      font-weight: 700;
      font-size: 17.332px;
      line-height: 148%;
    }
  }
}
.about-autor{
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  &::before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/autor.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__header{
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    text-transform: uppercase;
    & >span{
      color: $secondary1;
    }
  }
  &__text{
    width: 307px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
  }
}
.gift{
  display: flex;
  gap: 16px;
  &::before{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../img/gift.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__header{
    font-weight: 700;
    font-size: 12px;
    line-height: 148%;
  }
  &__text{
    width: 210px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
  }
}


.form {
  width: 100%;
  margin-bottom: 20px;
  &__input-container{
    position: relative;
    margin-bottom: 14px;
  }
  &__button{
    width: 100%;
    background: #FF3459;
    border-radius: 5px;
    padding: 14px 43px;
    text-align: center;
  }
}
.valid{
  border: 2px solid green;
}
.invalid{
  border: 2px solid red;
}
input::placeholder{
  color: #D7D7D7;
  }

.placeholder.phone-format{
  display: none;
}
/* Стилізація інпутів */
input[type="text"],
input[type="email"],
input[type="tel"]{
  background:  #272D3D;;
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #D7D7D7;
  padding: 13px 0 14px 22px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
.iti--allow-dropdown input[type="text"],
.iti--separate-dial-code input[type="text"],
.iti--allow-dropdown input[type="tel"],
.iti--separate-dial-code input[type="tel"] {
  padding-right: 0 !important;
  padding-left: 6px;
  box-sizing: border-box;
}
.iti {
  position: relative;
  display: block;
}

/* Стилізація випадаючого списку */
.iti-mobile .iti--container,
.iti .iti--container {
  display: block !important;
  position: absolute !important;
  width: 100%;
  height: 80px;
  top:51px !important;
  right: 0 !important;
  bottom: 0 !important ;
  left: 0 !important;
  z-index: 25;
  &>li{
    color:#D7D7D7;
  }
}
.iti-mobile .iti__country {
  background: #272D3D;;
  color:#D7D7D7;
  overflow: hidden;
}
.iti__country-list::-webkit-scrollbar {
  width: 8px;
  border: none;
}

.iti__country-list::-webkit-scrollbar-track {
  background-color:  #272D3D;;
}

.iti__country-list::-webkit-scrollbar-thumb {
  background-color: $backgrounForm; 
  border-radius: 4px; 
}

.iti__country-list::-webkit-scrollbar-thumb:hover {
  background-color: $secondary3;
}
