@import "reset";
@import "variables";
@import "fonts";
@import "header";
@import "main";
@import "footer";
@import "modal";


html{
  font-size: 14px;
}

body{
  font-family: Gilroy;
  background-color: $background;
  color: $maincolor;
}

.wraper{
  position: relative;
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
}

.container{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 72.22vw;
}
.accent-mobile{
  display: block;
}
@media screen and (min-width: 1440px) {
  .container{
    width: 1040px;
  }
  .background__text {
    font-size: 129px;
  }
  .description__title{
    font-size: 77px;
  }
}
@media screen and (max-width: 1150px){
  .wraper::before{
    content: '';
    position: absolute;
    top: 30%;
    background: $ellipse;
    width: 100%;
    height:100%;
    opacity: 0.8;
    filter: blur(103.131px);
  }
  .background{
    visibility: hidden;
  }
  .main{
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "text"
      "form"
      "gift"
      "about-autor";
    text-align: center;
    margin-top: 0;
    &__form{
      margin: 0 auto;
      width: 328px;
    }
    &__form-header{
      font-size: 20px;
      line-height: 23px;
    }
    &__form-wrap{
      margin: 40px 21px;
      width: 100%;
    }
    &__form-footer{
      font-size: 11px;
      line-height: 149%;
    }
  }
  .description__header, .description__text{
    margin: 0 auto;
    width: 328px;
  }
  .description__text{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 148%;
    text-align: center;
  }
  .description__text-accent{
    background: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 148%;
    padding: 0;
  }
  .accent-mobile{
    display: block;
    color: $secondary1;
  }
  .description__title{
    font-size: 52.7273px;
    line-height: 65px;
  }
  .description__subtitle{
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  
  .form__button{
    background: #0048FF;
    width: 222px;
    padding: 12px 35px;
    line-height: 22px;
  }
  
  .description__name{
    margin: 0 auto;
  }
  .gift,.about-autor{
    margin: 0 auto;
    text-align: left;
  }
  .gift{
    padding-top: 36px;
    &__text{
      width: 161px;
    }
  }
  .about-autor{
    padding-top: 22px;
    &__text{
      width: 161px;
    }
  }
}
@media screen and (max-width: 836px){
  .header{
    justify-content: center;
    gap: 35px;
    padding: 28px 0px 36px 14px;
    &__logo img{
      width: 100px;
    }
    &__date,&__time{
      border-radius: 5.93333px;
      gap: 6px;
      width: max-content;
      height: 24px;
      font-size: 11px;
      line-height: 8px;
    }
    &__date{
      padding: 0 6px;
    }
    &__time{
      padding: 0 12px;
    }
    &__date::before,&__info::before{
      width: 12.5px;
      height: 12.5px;
    }
  }
  .container{
    width: 100%;
    padding: 0 16px;
  }
  .main{
    margin-left: 0;
  }
  .description__header{
    padding: 0 18px;
  }
  .description__subtitle{
    text-align: left;
  }
  .description__subtitle-wrap{
    padding: 5px 9px;
    margin-right: 11px;
    &>span{
      font-size: 16px;
    }
  }
}



